{% extends 'todo/todo_base.html' %}

{% block title %}
Delete Tag: {{ tag.title|title }} - {{ block.super }}
{% endblock title %}

{% block content %}
<form action="{{ tag.get_delete }}" method="post">
    {% csrf_token %}
    <h2>Are You Sure You Want To Delete Tag:</h2>
    <h3>{{ tag.title|title }}?</h3>
    <button type="submit" class="btn btn-danger" >Delete</button>
    <button class="btn btn-warning"><a href="{{ tag.get_absolute_url }}">Cancel</a></button>


</form>
{% endblock content %}
